* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}


header {
    text-align: center;
    background: #333;
    color: white;
    padding: 40px 0;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
}


nav ul {
    display: flex;
    list-style: none;
    background: #555;
    padding: 15px;
    justify-content: center;
    border-radius: 5px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* ----------------------- */
/* SECTIONS */
/* ----------------------- */
section {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}


.project {
    margin-top: 15px;
}

.project img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    color: #555;
}
container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.val projects {
    text-align: center;
}

.wukong jpg {
    width: 20rem;
    border-radius: 0.5rem;
}

.description {
    margin-top: 0.5rem;
    font-size: 1rem;
}
